@charset "UTF-8";

/*
Base
-----------------------------------------------------*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Default Style*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: medium/1.5 '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Meiryo UI', 'メイリオ', Meiryo, sans-serif;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  height: 100%;
  color: #212121;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a{
   text-decoration: none;
}
*[lang="en"] {
  font-family: 'Baloo Thambi 2', cursive;
}
/*
Layout
-----------------------------------------------------*/

/* Centering */
.l-wrapper,
.l-works-wrapper{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.p-center{
  margin: 0 auto;
  text-align: center;
  max-width: 368px;
  margin-bottom: 1em;
}

/* Header */
.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: .75em 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
.l-header-title a{
  float: left;
  font-size: 1.5em;
  color: #ED959B;
  font-weight: bold;
}
.l-header-nav {
  float: right;
  color: #666;
}
@media screen and (min-width: 768px) {
  .l-header {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 1024px) {
  .l-header {
    padding: 1.75em 0;
  }
}
/* Button */
.button-hamburger {
  position: absolute;
  top: 0;
  right: 2.5%;
  bottom: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none; /* Chrome, Safari, Opera, Android */
     -moz-appearance: none; /* Firefox */
          appearance: none; /* IE非対応 */
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  border-radius: 4px;
  background-color: #ED959B;
}

.hamburger:before,
.hamburger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: inherit;
  content: '';
}

.hamburger:before {
  top: -5px;
}

.hamburger:after {
  top: 5px;
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}
.button {
  position: relative;
  display: block;
  padding: .6em;
  border-radius: 1.5625em;
  text-align: center;
  text-decoration: none;
  background-color: #fafafa;
  transition: all .2s ease-in-out; /* IE9非対応 */
}

.button-primary {
  border: 1px solid #707070;
  color: #707070;
}

.button-primary:before,
.button-primary:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  content: '';
  transition: all .2s ease-in-out; /* IE9非対応 */
  -webkit-transform: rotate(-45deg); /* Android, Brackberry  */
      -ms-transform: rotate(-45deg); /* IE9  */
          transform: rotate(-45deg);
}

.button-primary:before {
  right: 2em;
  background-color: #707070;
}

.button-primary:after {
  right: 2.1em;
  background-color: #fafafa;
}

.button-primary:hover ,
.button-primary:focus{
  background-color: #F5D8D8;
  border: 1px solid #F5D8D8;
  color: #fff;
}

.button-primary:hover:before {
  right: 1.5em;
  background-color: #fff;
}

.button-primary:hover:after {
  right: 1.6em;
  background-color: #F5D8D8;
}
/* Global Nav */
.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3em 0;
  width: 90%;
  height: 120%;
  background-color: #fff;
   -webkit-transition: -webkit-transform .3s ease-in-out;
   transition: -webkit-transform .3s ease-in-out;
   transition: transform .3s ease-in-out;
   transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; /* IE9非対応 */
  -webkit-transform: translateX(100%); /* Android, Brackberry  */ /* IE9 */
          transform: translateX(100%);
}
.is-active-drawer .l-global-nav{
   -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.l-global-nav li a {
  display: block;
  font-size: 1.5em;
  padding: 1em;
  color: #ED959B;
  text-decoration: none;
  font-weight: bold;
}

.l-global-nav li a:hover {
  color: #999;
}

@media screen and (min-width: 768px) {
.l-global-nav {
  position: static;
  width: auto;
  padding: 0;
  background-color: transparent;
  -webkit-transform: translateX(0); /* Android, Brackberry  */ /* IE9 */
          transform: translateX(0);
}


.l-global-nav li {
  float: left;
}

.l-global-nav li a {
  padding: .2em .9em;
  color: #666;
  font-size: 1em;
}
}
/* Main */
.l-main {
  clear: both;
  padding-top: 3em;
}
/* Hero */
.hero-copy span{
  font-size: 1em;
  padding: .333em;
  background-color:	rgb(250,167,167,.8);
  color: #fff;
}
.hero-copy p + p{
 margin-top: 0.666em;
}
.hero {
  position: relative;
}

.hero-body {
  position: absolute;
  top: 40%;
}

.hero-home .hero-body {
  margin-left: 22%;
}
@media screen and (min-width: 768px){
.hero-copy span{
  font-size: 1.25em;
  padding: .2em;
}
.hero-copy p + p{
 margin-top: 0.9em;
}

}
@media screen and (min-width: 1024px) {
.hero-image {
  display: block;
  text-align: right;
  max-width: 1920px;
}
  .hero-copy span{
  font-size: 2.5em;
  padding: .1em;
}
.hero-copy p + p{
 margin-top: 1.1em;
}
  .hero-body{
  right: 0;
  left: -20%;
  max-width: 1920px;
}
}
@media screen and (min-width: 1537px){
.hero-body{
  right: 0;
  left: 3%;
}

}
/* Section */
.l-section {
  padding: 1.5em 0;
}
.l-section-button {
  margin: 1.5em auto 0;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 2em 0;
  }

  .l-section-button {
    margin-top: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 2.5em 0;
  }

  .l-section-button {
    margin-top: 2.5em;
  }
}


/* Box */
  .box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;

}
.box-item{
  position: relative;
  margin-bottom: 70px;
}
.box-text{
  position: absolute;
  padding-top: 170px;
}
@media screen and (min-width: 768px){
  .box{
    max-width: 800px;
  }
}
@media screen and (min-width: 1024px) {
   .box{
    max-width: 1920px;
  }
}
/* Media */
.media{
  position: relative;
}
.media-body{
  position: absolute;
  padding-top: 12.5em;

}
@media screen and (min-width: 768px){
  .media{
  display: flex;
  width: 720px;
  margin: 0 auto;
}
.media-body {
  right: 0;
  width: 62%;
  padding-top: 0;
  max-width: 368px;
}
.media-body p{
  margin-bottom: 1em;

}
.media figure {
  width: 352px;
}
}


/* About */
.about{
  background-color: #F5D8D8;
}
.about img{
  display: block;
  width: 188px;
 margin: 0 auto;
}
/* Contact */
.contact{
 text-align: center;
 clear: both;
}
.footer{
  text-align: center;
  background-color: #666;
  color: #fff;
  padding: .83em 0;
  font-size: .75em;
}
.about .button-primary{
   margin-top:18em ;
}
@media screen and (min-width: 768px){
  .about .button-primary{
   margin-top:0 ;
}
}
 /* Heading */

.heading-primary {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  clear: both;
}

/*
  Module
-----------------------------------------------------*/

/* Accesibility */

.screen-reader-text {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}
